*{
margin: 0;
padding: 0;
line-height: 140%;
box-sizing: border-box;
}

header {

    background-image: url(assets/Header-bg2.png);
    background-size: auto 100%;
    background-repeat: repeat-x;
    border: solid var(--paarsBlauw) 0.4em;
    border-radius: 1.5em;   
    position: relative;
    margin: 0.5em;
    animation: backgroundMove 35s linear infinite;
}

@keyframes backgroundMove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.label-search {

  margin-left: 0.8em;
}

.logo-img {
 height: 6em;   
}

.dropdown-img {

 height: 8em;
 float: right;
 margin-top: -8em; 
 margin-right: 1em;
 transition: all .6s ease; 

 &:hover, &:active {
    rotate: 360deg;
    filter:brightness(1.2);
 }
}

.dropdown-menu a {
display: block;
color: var(--secondaryAccent);
padding: 10px 15px;
text-decoration: none;
overflow: hidden;
transition: all .6s ease; 

    &:hover {
    transition: all .2s ease;  
    filter:brightness(1.4)
    }
}

.dropdown-items {
display: none;
background-color: var(--luchtBlauw);
position: absolute;
min-width: 100px;
box-shadow: 2px 2px 5px rgb(124, 119, 119);
margin: -1em auto 0 68.8em ;
transition: all .5s ease;
}

.dropdown-menu:hover .dropdown-items{
display: block;
transform: translateY(0);
}