*{
margin: 0;
padding: 0;
line-height: 140%;
box-sizing: border-box;
}

body {
    background-color: #F2F2F2;
}

header {

    background-image: url(assets/Header-bg2.png);
    background-size: 30% 100%;
    background-repeat: repeat-x;
    border: solid var(--paarsBlauw) 0.4em;
    border-radius: 1.5em;   
    position: relative;
    margin: 0.5em;
    animation: backgroundMove 35s linear infinite;
}

@keyframes backgroundMove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.label-search {
  margin-left: 0.8em;
}

.logo-img {
 height: 6em;   
 cursor: pointer;
}

.label-search-input {
padding-left: 1.6em;

}

.dropdown-img {
    height: 8em;
    float: right;
    margin-top: -8em; 
    margin-right: 1em;
    transition: all .6s ease;

    &:hover, &:active, &:focus {
        rotate: 360deg;
        filter: brightness(1.2);
    }
}

.dropdown-menu {
    position: relative;

    /* Linkjes in dropdown */
    a {
        display: block;
        color: var(--secondaryAccent);
        padding: 10px 15px;
        text-decoration: none;
        transition: all .3s ease;
        

        &:hover, &:active, &:focus {
            transform: translateX(5px);
            color: var(--zee);
            font-weight: var(--font-weight-semibold);
            pointer-events: auto;
        }
    }

    /* Hover op img opent dropdown */
    &:hover .dropdown-items, &:focus .dropdown-items {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }
}

.dropdown-items {
    position: absolute;
    top: 100%;          
    right: 0;           
    min-width: 140px;
    margin-top: 0.3em;

    opacity: 0;
    transform: translateY(-15px);  
    pointer-events: none;

    background-color: var(--luchtBlauw);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    border-radius: 8px;

    transition:
        opacity .25s ease,
        transform .25s ease;
    
    padding: 6px 0;

    border: solid var(--paarsBlauw) 0.2em;
    border-radius: 1.2em; 
}

.article-img {
  width: 210px;
  height: 130px;
  border: 1px solid black;
  margin: 10px 0;
  margin-bottom: 0px;
}

footer {
  position: relative;
  width: 100%;
  margin-bottom: -100px;
  margin-top: 100px;
}

footer img {

 width: 100%;
 height: auto; 
}

footer a {
    position: absolute;
  top: 84%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #69604F;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgb(69, 68, 68);

}