* {
    margin: 0;
    padding: 0;
    line-height: 140%;
    box-sizing: border-box;
}

body {
    background-color: #F2F2F2;
}

header {

    background-image: url(assets/Header-bg2.png);
    background-size: 30% 100%;
    background-repeat: repeat-x;
    border: solid var(--paarsBlauw) 0.4em;
    border-radius: 1.5em;
    position: relative;
    margin: 0.5em;
    box-shadow: 0 0.3em 0.3em var(--steenGrijs);
    animation: backgroundMove 35s linear infinite;
    height: max-content;
}

@keyframes backgroundMove {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}

.label-search {
    margin-left: 0.8em;
}

.logo-img {
    max-height: 4em;
    min-height: 1em;
    cursor: pointer;

    @media only screen and (min-width: 930px) {
        max-height: 6em;
        min-height: 3em;
        cursor: pointer;
    }
}

.label-search-input {
    padding-left: 1.6em;

}

.dropdown-img {
    max-height: 6em;
    min-height: 3em;
    float: right;
    margin-top: -6em;
    margin-right: 1em;
    transition: all .6s ease;

    &:hover,
    &:active,
    &:focus {
        rotate: 360deg;
        filter: brightness(1.2);
    }

    @media only screen and (min-width: 930px) {
        max-height: 8em;
        min-height: 5em;
        margin-top: -8em;
        cursor: pointer;
    }
}

.dropdown-menu {
    position: relative;

    /* Linkjes in dropdown */
    a {
        display: block;
        color: var(--secondaryAccent);
        padding: 10px 15px;
        text-decoration: none;
        transition: all .3s ease;


        &:hover,
        &:active,
        &:focus {
            transform: translateX(5px);
            color: var(--zee);
            font-weight: var(--font-weight-semibold);
            pointer-events: auto;
            opacity: 1;
            outline: none;
        }
    }

    /* Hover op img opent dropdown */
    &:hover .dropdown-items {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }
}

.dropdown-items {
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 140px;
    margin-top: 0.3em;

    opacity: 0;
    transform: translateY(-15px);
    pointer-events: none;

    background-color: var(--luchtBlauw);
    box-shadow: 0 0.2em 0.3em var(--secondaryAccent);
    border-radius: 1em;

    transition:
        opacity .25s ease,
        transform .25s ease;

    padding: 6px 0;

    border: solid var(--paarsBlauw) 0.2em;
    border-radius: 1.2em;

    &:focus-within {
        opacity: 1;
    }

}

.news-title {

    text-align: center;
    font-style: italic;
    color: var(--primaryAccent);
    background-color: var(--mosGroen);
    border: solid hsl(240, 37%, 14%) 0.2em;
    border-radius: 1em;
    margin: 0.9em;
    padding-bottom: 0.5em;
    box-shadow: 0 0.2em 0.3em var(--steenGrijs);

    H1 {
        color: var(--primaryAccent);
        font-size: 2.5rem;
        font-style: normal;
    }
}

.nieuws-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;

    H2 {
        margin-bottom: 0.7em;
    }

    a {
        padding: 0.3em;
    }

    p {
        margin-bottom: 0.7em;
    }
}

.left-article {
    background-color: var(--mosGroen);
    color: white;
    border-radius: 20px;
    border: solid 2px hsl(186, 100%, 8%);
    margin: 20px;
    width: 420px;
    padding: 10px;
    box-shadow: #9c9b9b 3px 10px 15px;
    word-wrap: break-word;
    transition: transform 0.5s ease;

    @media only screen and (min-width: 930px) {
        margin-left: 1em;
        margin-right: auto;
        overflow: hidden;

        &:first-of-type {
            margin-top: 2em;
        }

        &:hover {
            transform: scale(1.1);
            translate: 2em 0;
        }
    }
}

.right-article {
    background-color: var(--mosGroen);
    color: var(--secondaryAccent);
    border: solid 2px hsl(74, 45%, 29%);
    ;
    border-radius: 20px;
    margin: 20px;
    width: 420px;
    padding: 10px;
    box-shadow: lch(64.06% 0.38 18.25) 3px 10px 15px;
    word-wrap: break-word;
    transition: transform 0.5s ease;

    @media only screen and (min-width: 930px) {
        margin-right: 1em;
        margin-left: auto;
        margin-top: -20em;
    }

    &:hover {
        transform: scale(1.1);
        translate: -2em 0;
    }
}

.article-img {
    width: 210px;
    height: 130px;
    border: 1px solid black;
    margin: 10px 0;
    margin-bottom: 0px;
}

.tower {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100px;
    height: auto;
    z-index: 1000;
}

footer {
    position: relative;
    margin-top: 8em;
    margin-bottom: -5em;
    padding: 0;

    img {
        width: 100%;
        height: auto;
    }

    a {
        position: absolute;
        top: 84%;
        left: 50%;
        transform: translate(-50%, -53%);
        padding: 0.9em 1.8em;
        cursor: pointer;
        box-shadow: 2px 2px 4px var(--modder);
    }
}